
main{
    width: 100%;

    &>*{
        margin: 0 auto;
    }
    .wel_open,.wel_contain{
        font-size: 0;
        vertical-align: top;
        position: relative;
        width: 100%;
        height: 680px;
        article{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            text-align: center;
            width: 100%;
            z-index: 5;
            .icon{
                display: block;
                background: url(../static/images/logo.png) no-repeat;
                width:500px;
                height: 150px;
                background-size: cover;
                background-position-x: 90px; 
                margin: 0 auto;
                text-align: center;
            }
            h1{
                font-family: 'Microsoft YaHei';
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 60px;
                height: 80px;
            }
            p{
                font-family: '黑体';
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 20px;
                margin-top: -20px;
            }
            .btn_toindex{
                display: block;
                color: #fff;
                border: none;
                border-radius: 3px;
                font-weight: bold;
                font-family: '黑体';
                text-align: center;
                width: 100px;
                font-size: 14px;
                margin: 0 auto;
                letter-spacing: 4;
                line-height: 40px;
                text-transform: uppercase;
                margin-top: 50px;
                background-color: #ae8648;
                &:hover{
                    background: #8f2626;
                    text-shadow: black 0.1em 0.1em 0.3em;
                    transition: 0.6s;
                }
            }
        }
        .open_bg,.contain_bg{
            position: absolute;
            left: 0;
            top: 0;
            background: url(../static/images/panel_bg_loyalty.jpg);
            background-size: cover;
            // height: 120%;
            height: 680px;
            width: 100%;
            z-index: 0;
        }
        .bg2{
            background: url(../static/images/panel_bg_locations.jpg);
            background-size: cover;
        }
        .bg1{
            background: url(../static/images/panel_bg_shop.jpg);
            background-size: cover;
        }
    }
}
footer{
    width: 100%;
    height: 100px;
    background: #141414;
    .footerinner{
        margin: 0 auto;
        height: 100px;
        width: 500px;
        .logo_footer{
            float: left;
            height: 100%;
            width: 400px;
            background: url(../static/images/logo.png) no-repeat center;
            background-position-x: 20px;
            background-size: 100% auto;
        }
        article{
            margin-top: 20px;
            margin-left: -100px;
            float: left;
            font-family: '微软雅黑';
            color: #fff;
            .contact{
                font-size: 18px;
                margin-bottom: 6px;
                height: 18px;
            }
            .tel,.emall{
                margin-top: 6px;
                margin-bottom: 2px;
                font-size: 14px;
            }

        }
    }
}
