@font-face {
    font-family: 'iconfont';
    src:
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    // url('iconfont.svg#iconfont') format('svg');
  }
  .swiper-container {
    width: 1100px;
    height: 100%;
    .swiper-slide{
        img{
            width:1100px;
        }
    }
}
footer{
    margin-top:20px; 
    width: 100%;
    height: 100px;
    background: #141414;
    .footerinner{
        margin: 0 auto;
        height: 100px;
        width: 500px;
        .logo_footer{
            float: left;
            height: 100%;
            width: 400px;
            background: url(../static/images/logo.png) no-repeat center;
            background-position-x: 20px;
            background-size: 100% auto;
        }
        article{
            margin-top: 20px;
            margin-left: -100px;
            float: left;
            font-family: '微软雅黑';
            color: #fff;
            .contact{
                font-size: 18px;
                margin-bottom: 6px;
                height: 18px;
            }
            .tel,.emall{
                margin-top: 6px;
                margin-bottom: 2px;
                font-size: 14px;
            }

        }
    }
}







.banner-container{
    width:1100px;
    margin:0 auto;
    position: relative;
    // .side-nav{
    //     width:80px;
    //     height:105px;
    //     position:fixed;
    //     left:10px;
    //     top:200px;
    //     border-radius: 10%;
    //     .side-nav-list{
    //         background:#ae8648;
    //         border:1px solid lightsalmon;
    //         font-size:18px;

    //         li{
    //             text-align: center;
    //             line-height: 25px;
    //             width:60px;
    //             height:25px;
    //             margin:0 auto;
    //             border-bottom:1px solid lightsalmon;
    //         }
    //         .side-nav-list-last{
    //             text-align: center;
    //             line-height: 25px;
    //             width:60px;
    //             height:25px;
    //             margin:0 auto;
    //             border:none;
    //         }
    //     }
    // }
    .swiper-container{
        // background:red;
        .swiper-button-prev{ 
            color:lightyellow;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ae8648'%2F%3E%3C%2Fsvg%3E")
        }  

        .swiper-button-next{
            color:lightyellow;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ae8648'%2F%3E%3C%2Fsvg%3E");
        }
        .swiper-pagination{
            width:200px;
            margin-left:450px;
            padding-right:20px;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size:20px;
            .swiper-pagination-bullet{
                z-index:999;
                border-radius: 50%;
                margin-left:20px;
                width:20px;
                height:20px;
                float:left;
                margin-top:5px;
                border:1px solid goldenrod;
                background:goldenrod;
            }
            .swiper-pagination-bullet-active{
                border-radius: 50%;
                margin-left:20px;
                width:20px;
                height:20px;
                float:left;
                margin-top:5px;
                border:1px solid goldenrod;
                background:rgb(248, 156, 43);
            }
        }
    }
    　
    .banner{
        position:relative;

        padding-bottom:13px;
        .banner-pic{
            z-index:1;
            img{
                width:100%;
                height:342px;
            }
        }
        #home-banner-list{
            position: absolute;
            bottom:32px;
            z-index:5;
            width:100%;
            height:31px;
        
            .banner-list{
            z-index:5;
            margin:0 auto;
            padding-right:20px;
            width:220px;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size:20px;
                li{
                    z-index:999;
                    border-radius: 50%;
                    margin-left:20px;
                    width:20px;
                    height:20px;
                    float:left;
                    margin-top:5px;
                    border:1px solid goldenrod;
                    background:burlywood;
                }
                .active{
                    border-radius: 50%;
                    margin-left:20px;
                    width:20px;
                    height:20px;
                    float:left;
                    margin-top:5px;
                    border:1px solid goldenrod;
                    background:rgb(248, 156, 43);
                }
            }
            .navigator{
                width: 80px;
                height:31px;
                font-family: 'iconfont';
                float:right;
                li{
                    float:right;
                    width:31px;
                    height:31px;
                    line-height: 31px;
                }
            }
        }
    }
    .swiper-container {
        margin:0 auto;
        width: 1100px;
        height: 342px;
        img{
            width:100%;
            height:342px;
        } 
    }  
    .margin-between{
        padding-left:30px;
        width:1100px; 
        height:38px;
        margin:3px auto;
        margin-bottom: 6px;
        .margin-between-bottom{ 
            height:36px;
            width:80px;
            border-bottom:3px solid #ae8648;
            h2{
            font-size:20px;
            line-height:48px;
            color:#ae8648;
            }
        }
    }
    .hot-single{
        width:1100px;
        height:180px;
        margin:0 auto;
        .hot-single-list{
            li{
                position: relative;
                width:268px;
                height:180px;
                float:left;
                margin-right:7px;  
                img{
                    width:268px;
                    height:180px;
                } 
                p{
                    width: 268px;
                    position: absolute;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    background: rgba(0, 0, 0,0.8);
                    color: white;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    font-size: 18px;
                } 
            }  
            .hot-single-list-last{
                width: 268px;
                height:180px;
                margin:0; 
                img{
                    width:268px;
                    height:180px;
                } 
            }
        }

    }
}
