 .myOrderOut{
     width:100%;
     margin-bottom: 38px;
     margin-top: 38px;
    //  background: yellow;
     .myOrder{
         position: relative;     
         width: 1100px;
         min-height: 500px;
        //  background: pink;
         margin: 0 auto;
        margin-top: 5px;
         .tableInfo{
             margin-top: 5px;
             margin-left: 5px;
             .tableFont{
                font-size: 20px;
            }
            .tableId{
                color: red; 
                margin-left: 2px;
                font-size: 18px;
            }
        }
        .orderTable{
            width: 900px;
            margin: 0 auto;
            
            // background: yellowgreen;
            text-align: center;
            border-bottom: 1px solid #333;
            tr:nth-child(2) .orderImg{
                margin-top: 10px;
            }
            tr:last-child .orderImg{
                margin-bottom: 10px;
            } 
            th{
                
                border-bottom: 1px solid #333;
                vertical-align: bottom
            }
            td{
                font-size: 18px;
            }
            button{
                border-radius: 50%;
                background: none;
                border: 1px solid #333;
                text-align: center; 
                vertical-align: middle;
                width: 20px;
                height: 20px;
                margin: 0 auto;
                &:hover{
                    background: black;
                    color: white;
                    transition: .3s
                }
            }
            .proNum{
                font-size: 18px;
                text-align: center;
                vertical-align: middle;
            }
            .orderImg{
                width: 100px; 
                height: 100px;
                background: gray;
                margin: 5px auto;
            }
        }
        .priceInfo{
            position: absolute;
            right: 100px;
            bottom: -136px;  
            margin-bottom: 50px;
            .priceFont{  
                font-size: 20px; 
            }
            .price{
                font-size: 18px;
                color: red;
                margin-right: 5px;
            }
            .subOrder{ 
                box-sizing: border-box;
                background: #eee;
                width: 128px;
                height: 36px;
                line-height: 36px;
                float: right;
                text-align: center;
                font-size: 18px;
                margin-left: 20px;
                margin-top: -12px;
                &:hover{
                    background: #8f2626;
                    color: white;
                    transition: .3s;
                }
            }
        } 
     }
 }