body{
    background: #fff;
}
.orderMainOut{
    margin-top:38px;
    width: 100%;
    .orderMain{
        width: 1100px;
        margin: 0 auto;
        .orderList{
            width:215px;
            float: left;
            ul{ 
                color: #555;
                margin-right: 5px;
                .fir_li{
                    a{
                        width: 215px; 
                        display: block;
                        font-size: 16px;
                        line-height: 30px;
                        color: #fff;
                        background: #ae8648;
                    }
                    width:215px;
                    float: left; 
                    overflow: hidden;
                    font-size: 16px;
                    box-sizing: border-box;
                    text-align: center; 
                    line-height: 30px;
                    margin-bottom: 5px;
                    cursor: pointer;  
                    ul{
                        width: 100%;
                        .sec_li{
                            width:100%;
                            box-sizing: border-box;
                            line-height: 30px;
                            background: #eee;
                            height: 30px;
                        }
                    }
                }
            }

        }
        .orderContainer{
            float: left;
            width: 880px;
            margin-left: 5px;
            box-sizing: border-box; 
            ul{
                margin-left: 5px;
                .goodInfo:nth-child(4n){
                    border-right: 0;
                }
                .goodInfo{
                    overflow: hidden;
                    float: left;
                    width: 210px;
                    padding:0 5px ;
                    margin-bottom: 20px;
                    position:relative;
                    box-sizing: border-box;
                    border-right: #ccc solid 1px;
                    .goodImage{
                        width: 190px;
                        height: 190px;
                        margin: 2px auto;
                        // background: #999;      
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    } 
                    .goodName{
                        width: 100%;
                        font-size: 16px;
                        text-align: center;
                        font-weight: 500;
                        line-height: 22px;
                        color:black;
                    }
                    .goodPrice{
                        width: 100%;
                        font-size: 14px;
                        text-align: center; 
                        color: #333;
                        font-weight: normal;
                        margin: 4px auto;
                        line-height: 14px;
                    }
                    .goodPriceVip{
                        width: 100%;
                        font-size: 16px;
                        text-align: center; 
                        color: red;
                        font-weight: bold;
                        margin: 4px auto;
                    }
                    // #is_cold{

                    // }
                    button{ 
                        margin:0 auto;
                        text-align:center;
                        width:199px ;
                        box-sizing:border-box;  
                        height:32px;
                        line-height:32px;
                        background: rgba($color: #000000, $alpha: 0.8);
                        color:white;
                        outline: none;
                        border:0;
                        &:hover{
                            background: #8f2626;
                            transition: .4s;
                        }
                    }
                }
            }
        }
    }
}
