.space{
    display: block;
    width: 100%;
    height: 50px;
}
.login_main{
    width: 100%;
    // height: 800px;
    section{
        width: 1100px;
        // background: yellow; 
        // height: 100%;
        margin: 20px  auto;
        .login_bg{
            background: url(../static/images/login_bg.jpg) no-repeat center;
            width: 718px;
            height: 600px;
            background-size: cover;
            float: left;
        }
        .login_context{
            float: right;
            margin-right: 20px;
            margin-top: 50px;
            width: 360px;
            height: 500px;
            border: #ccc 1px solid;
            border-radius: 10px;
            // background: pink;
            .tip{
                font-size: 20px;
                font-family: "微软雅黑";
                margin-top: 50px;     
                margin-left: 20px;         
            }
            form{
                margin-top: 50px;
                .errMsg{
                    color: #B40707;
                    display: block;
                    margin-left: 20px;
                    opacity: 0;
                    margin-top: -5px;
                }
                input{
                    width: 320px; 
                    height:46px;
                    font-size: 16px;
                    color: #333;
                    margin-left: 20px;
                    padding-left: 10px;
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid #ccc;
                }
                #login_btn{
                    background-color: #B40707;
                    border-width: 0 0 2px 0;
                    border-style: solid;
                    border-color: #B40707;
                    margin-top: 40px; 
                    color: #fff;
                    width: 320px;
                    margin-left: 20px;
                    border-radius: 0px;
                    line-height: 44px;
                    height: 44px;
                    font-weight: bolder;
                    font-size: 14px;
                    cursor: pointer;
                    border-radius: 26px;
                    text-align: center;
                }
            }
        }
    }
}
#backHome{
    cursor: pointer;
}