<div class="login_main">
    <section class="clear">
        <div class="login_bg"></div>
        <div class="login_context">
            <div class="tip">登录缘来，享受更多优惠</div>
            <form action="">
                <input type="text" name="log_username" id="emall" placeholder="邮箱">
                <span class="errMsg">邮箱输入错误</span>
                <input type="password" name="log_pas" id="password"placeholder="密码">
                <button id="login_btn" class="aa">登录</button>                                      
            </form>
        </div>
    </section>
</div>