<div class="space">
    <a id="backHome">返回首页</a>
</div>
<div class="singin_main">
    <section class="clear">
        <div class="singin_bg"></div>
        <div class="singin_context">
            <div class="tip">注册缘来，享受更多优惠</div>
            <form action="">
                <input type="username" name="log_usr" id="username"placeholder="用户名">
                <span class="phoneerrMsg">请输入正确的手机号</span>
                <input type="text" name="log_username" id="emall" placeholder="邮箱">
                <span class="errMsg">请输入正确的邮箱</span>
                <input type="password" name="log_pas" id="password"placeholder="密码">
                <div id="singin_btn" class="aa">注册</div>                                      
            </form>
        </div>
    </section>
</div>