<div class ="banner-container">
        <div class = "banner">
            <div class = "banner-pic">
                <ul class = "banner-container">
                    <li class = "banner-pic-list">
                        <img src = "./static/images/banner-frostino.jpg"/>
                    </li>
                </ul>
            </div>
            <div id = "home-banner-list">
                <ul class = "banner-list">
                    <li class ="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class = "navigator">
                    <li class = "right">
                        &gt;
                    </li>
                    <li class = "left">
                        &lt;
                    </li>
                </ul>
            </div>
        </div>
        <div class = "margin-between">
            <div class ="margin-between-bottom">
                <h2>
                    本店热卖
                </h2>
            </div>
        </div>
        <div class = "hot-single">
            <ul class ="hot-single-list">
                <li>
                    <img src ="./static/images/hot1.jpg"/>
                </li>
                <li>
                    <img src ="./static/images/hot2.jpeg"/>
                </li>
                <li>
                    <img src ="./static/images/hot5.jpeg"/>
                </li>
                <li class = "hot-single-list-last">
                    <img src ="./static/images/hot4.jpeg"/>
                </li>
            </ul>
    
        </div>
        <div class = "margin-between">
            <div class ="margin-between-bottom">
                <h2>
                    本店新品
                </h2>
            </div>
        </div>
        <div class = "hot-single">
                <ul class ="hot-single-list">
                    <li>
                        <img src ="./static/images/new1.jpg"/>
                    </li>
                    <li>
                        <img src ="./static/images/new2.jpeg"/>
                    </li>
                    <li>
                        <img src ="./static/images/new3.jpeg"/>
                    </li>
                    <li class = "hot-single-list-last">
                        <img src ="./static/images/new4.jpeg"/>
                    </li>
                </ul>
        </div>
        <div class = "hot-single">
                <ul class ="hot-single-list">
                    <li>
                        <img src ="./static/images/new1.jpg"/>
                    </li>
                    <li>
                        <img src ="./static/images/new2.jpeg"/>
                    </li>
                    <li>
                        <img src ="./static/images/new3.jpeg"/>
                    </li>
                    <li class = "hot-single-list-last">
                        <img src ="./static/images/new4.jpeg"/>
                    </li>
                </ul>
        </div>
    </div>