<div class ="banner-container">
    <!-- <div class = "side-nav">
        <ul class = "side-nav-list">
            <li>咖啡</li>
            <li>甜点</li>
            <li>冷饮</li>
            <li class ="side-nav-list-last">沙拉</li>
        </ul>
    </div> -->
        <div class = "banner clear">
            <!-- <div class = "banner-pic"> -->
                <!-- <ul class = "banner-container"> -->
                    <!-- <li class = "banner-pic-list"> -->
                        <!-- <img src = "./static/images/banner-frostino.jpg"/> -->
                    <!-- </li> -->
                <!-- </ul> -->
            <!-- </div> -->
            <!-- <div id = "home-banner-list">
                <ul class = "banner-list">
                    <li class ="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class = "navigator">
                    <li class = "right">
                        &gt;
                    </li>
                    <li class = "left">
                        &lt;
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src = "./static/images/banner-frostino.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src = "./static/images/bannerbp2.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src = "./static/images/bannerbp3.jpg"/>
                </div>
                <div class="swiper-slide">
                        <img src = "./static/images/bannerbp4.jpg"/>
                </div>
        </div>
             
            <div class="swiper-pagination"></div>
      
            
          
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class = "margin-between">
            <div class ="margin-between-bottom">
                <h2>
                    本店热卖
                </h2>
            </div>
        </div>
        <div class = "hot-single">
            <ul class ="hot-single-list clear">
                <li>
                    <img src ="./static/images/hot1.jpg"/>
                </li>
                <li>
                    <img src ="./static/images/hot2.jpeg"/>
                </li>
                <li>
                    <img src ="./static/images/hot5.jpeg"/>
                </li>
                <li class = "hot-single-list-last">
                    <img src ="./static/images/hot4.jpeg"/>
                </li>
            </ul>
    
        </div>
        <div class = "margin-between">
            <div class ="margin-between-bottom">
                <h2>
                    本店新品
                </h2>
            </div>
        </div>
        <div class = "hot-single">
                <ul class ="hot-single-list clear">
                    <li>
                        <img src ="./static/images/new1.jpg"/>
                        <!-- <p>咖啡哈哈</p> -->
                    </li>
                    <li>
                        <img src ="./static/images/new2.jpeg"/>
                        <!-- <p>咖啡哈哈</p> -->
                    </li>
                    <li>
                        <img src ="./static/images/new3.jpeg"/>
                        <!-- <p>咖啡2131</p> -->
                    </li>
                    <li class = "hot-single-list-last">
                        <img src ="./static/images/new4.jpeg"/>
                        <!-- <p>hhh 2u19 </p> -->
                    </li>
                </ul>
        </div>
    </div>

