<div class="orderMainOut">
    <div class="orderMain">
        <div class="orderList">
            <ul class="clear" id="listul">
                <!-- <li class="fir_li" >
                    <a>咖啡</a>
                    <ul class="clear">
                        <li class="sec_li">二级菜单</li>
                        <li class="sec_li">二级菜单</li>
                        <li class="sec_li">二级菜单</li>
                    </ul>
                </li>
                 -->
            </ul>
        </div>
        <div class="orderContainer">
            <ul class="clear">
                <!-- <li class="goodInfo">
                    <div class="goodImage"></div>
                    <div class="goodName">咖啡咖啡给飞机打</div>
                    <div class="goodPrice">120元</div>
                    <button>立即购买</button>
                </li> -->
            </ul>
        </div>
    </div>
</div>