<div class="myOrderOut">
    <div class="myOrder">
        <!-- <div class="tableInfo">
            <span class="tableFont">桌号:</span>
            <span class="tableId">2</span>
        </div> -->
        <table class="orderTable" cellspacing="0">
            <tr>
                <th>产品图片</th>
                <th>产品名称</th>
                <th>价格</th>
                <th>数量</th>
            </tr> 
            <tr>
                <td><div class="orderImg"></div></td>
                <td>忒哦嗯咖啡</td>
                <td>120</td>
                <td>
                    <button class="decrease">-</button>
                    <span class="proNum">1</span>
                    <button class="increase">+</button>
                </td>
            </tr>
        </table>
        <div class="priceInfo">
            <span class="priceFont">价格:</span>
            <span class="price">2202</span>
            <a class="subOrder">提交订单</a>
        </div>
    </div>
</div>