@charset "UTF-8";
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: top; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

del {
  text-decoration: line-through; }

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a, input {
  background-clip: padding-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clear {
  zoom: 1; }

body, h1, h3, h4, h2, h5, h6, ul, ol, p, fieldset, dd, dl, input, textarea, option, hr, td {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  display: block; }

a, input {
  outline: none; }

body {
  font: 12px/1em "arial";
  color: #666; }

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clear {
  zoom: 1; }

.border0 {
  border: 0; }

header {
  width: 100%;
  height: 50px;
  background: #141414;
  box-sizing: border-box; }
  header .headerinner {
    width: 1100px;
    height: 96%;
    margin: 0 auto; }
    header .headerinner .logo_header {
      float: left;
      height: 100%;
      margin-top: 2px;
      width: 400px;
      background: url(../static/images/logo.png) no-repeat center;
      background-position-x: 20px;
      background-size: 100% auto; }
    header .headerinner .nav_header {
      float: right; }
      header .headerinner .nav_header li {
        float: left;
        display: block;
        height: 50px;
        width: 120px;
        line-height: 50px;
        text-align: center;
        background: #141414;
        color: #90887c;
        font-size: 16px; }
        header .headerinner .nav_header li:hover {
          color: white;
          background: #ae8648;
          transition: 0.3s; }
          header .headerinner .nav_header li:hover::after {
            background: #141414; }
        header .headerinner .nav_header li.active {
          background: #ae8648;
          color: #fff; }
          header .headerinner .nav_header li.active::after {
            background: #141414; }

main {
  width: 100%; }
  main > * {
    margin: 0 auto; }
  main .wel_open, main .wel_contain {
    font-size: 0;
    vertical-align: top;
    position: relative;
    width: 100%;
    height: 680px; }
    main .wel_open article, main .wel_contain article {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      text-align: center;
      width: 100%;
      z-index: 5; }
      main .wel_open article .icon, main .wel_contain article .icon {
        display: block;
        background: url(../static/images/logo.png) no-repeat;
        width: 500px;
        height: 150px;
        background-size: cover;
        background-position-x: 90px;
        margin: 0 auto;
        text-align: center; }
      main .wel_open article h1, main .wel_contain article h1 {
        font-family: 'Microsoft YaHei';
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 60px;
        height: 80px; }
      main .wel_open article p, main .wel_contain article p {
        font-family: '黑体';
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        margin-top: -20px; }
      main .wel_open article .btn_toindex, main .wel_contain article .btn_toindex {
        display: block;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        font-family: '黑体';
        text-align: center;
        width: 100px;
        font-size: 14px;
        margin: 0 auto;
        letter-spacing: 4;
        line-height: 40px;
        text-transform: uppercase;
        margin-top: 50px;
        background-color: #ae8648; }
        main .wel_open article .btn_toindex:hover, main .wel_contain article .btn_toindex:hover {
          background: #8f2626;
          text-shadow: black 0.1em 0.1em 0.3em;
          transition: 0.6s; }
    main .wel_open .open_bg, main .wel_open .contain_bg, main .wel_contain .open_bg, main .wel_contain .contain_bg {
      position: absolute;
      left: 0;
      top: 0;
      background: url(../static/images/panel_bg_loyalty.jpg);
      background-size: cover;
      height: 680px;
      width: 100%;
      z-index: 0; }
    main .wel_open .bg2, main .wel_contain .bg2 {
      background: url(../static/images/panel_bg_locations.jpg);
      background-size: cover; }
    main .wel_open .bg1, main .wel_contain .bg1 {
      background: url(../static/images/panel_bg_shop.jpg);
      background-size: cover; }

footer {
  width: 100%;
  height: 100px;
  background: #141414; }
  footer .footerinner {
    margin: 0 auto;
    height: 100px;
    width: 500px; }
    footer .footerinner .logo_footer {
      float: left;
      height: 100%;
      width: 400px;
      background: url(../static/images/logo.png) no-repeat center;
      background-position-x: 20px;
      background-size: 100% auto; }
    footer .footerinner article {
      margin-top: 20px;
      margin-left: -100px;
      float: left;
      font-family: '微软雅黑';
      color: #fff; }
      footer .footerinner article .contact {
        font-size: 18px;
        margin-bottom: 6px;
        height: 18px; }
      footer .footerinner article .tel, footer .footerinner article .emall {
        margin-top: 6px;
        margin-bottom: 2px;
        font-size: 14px; }
