@charset "UTF-8";
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: top; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

del {
  text-decoration: line-through; }

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a, input {
  background-clip: padding-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clear {
  zoom: 1; }

body, h1, h3, h4, h2, h5, h6, ul, ol, p, fieldset, dd, dl, input, textarea, option, hr, td {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  display: block; }

a, input {
  outline: none; }

body {
  font: 12px/1em "arial";
  color: #666; }

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clear {
  zoom: 1; }

.border0 {
  border: 0; }

header {
  width: 100%;
  height: 50px;
  background: #141414;
  box-sizing: border-box; }
  header .headerinner {
    width: 1100px;
    height: 96%;
    margin: 0 auto; }
    header .headerinner .logo_header {
      float: left;
      height: 100%;
      margin-top: 2px;
      width: 400px;
      background: url(../static/images/logo.png) no-repeat center;
      background-position-x: 20px;
      background-size: 100% auto; }
    header .headerinner .nav_header {
      float: right; }
      header .headerinner .nav_header li {
        float: left;
        display: block;
        height: 50px;
        width: 110px;
        line-height: 50px;
        text-align: center;
        background: #141414;
        color: #90887c;
        font-size: 16px; }
        header .headerinner .nav_header li:hover {
          color: white;
          background: #ae8648;
          transition: 0.3s; }
          header .headerinner .nav_header li:hover::after {
            background: #141414; }
        header .headerinner .nav_header li.active {
          background: #ae8648;
          color: #fff; }
          header .headerinner .nav_header li.active::after {
            background: #141414; }

.space {
  display: block;
  width: 100%;
  height: 50px; }

.login_main {
  width: 100%; }
  .login_main section {
    width: 1100px;
    margin: 20px  auto; }
    .login_main section .login_bg {
      background: url(../static/images/login_bg.jpg) no-repeat center;
      width: 718px;
      height: 600px;
      background-size: cover;
      float: left; }
    .login_main section .login_context {
      float: right;
      margin-right: 20px;
      margin-top: 50px;
      width: 360px;
      height: 500px;
      border: #ccc 1px solid;
      border-radius: 10px; }
      .login_main section .login_context .tip {
        font-size: 20px;
        font-family: "微软雅黑";
        margin-top: 50px;
        margin-left: 20px; }
      .login_main section .login_context form {
        margin-top: 50px; }
        .login_main section .login_context form .errMsg {
          color: #B40707;
          display: block;
          margin-left: 20px;
          opacity: 0;
          margin-top: -5px; }
        .login_main section .login_context form input {
          width: 320px;
          height: 46px;
          font-size: 16px;
          color: #333;
          margin-left: 20px;
          padding-left: 10px;
          margin-bottom: 10px;
          box-sizing: border-box;
          border: none;
          border-bottom: 1px solid #ccc; }
        .login_main section .login_context form #login_btn {
          background-color: #B40707;
          border-width: 0 0 2px 0;
          border-style: solid;
          border-color: #B40707;
          margin-top: 40px;
          color: #fff;
          width: 320px;
          margin-left: 20px;
          border-radius: 0px;
          line-height: 44px;
          height: 44px;
          font-weight: bolder;
          font-size: 14px;
          cursor: pointer;
          border-radius: 26px;
          text-align: center; }
