img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: top; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

del {
  text-decoration: line-through; }

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a, input {
  background-clip: padding-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clear {
  zoom: 1; }

body, h1, h3, h4, h2, h5, h6, ul, ol, p, fieldset, dd, dl, input, textarea, option, hr, td {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  display: block; }

a, input {
  outline: none; }

body {
  font: 12px/1em "arial";
  color: #666; }

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clear {
  zoom: 1; }

.border0 {
  border: 0; }
